html {
	background-color: #eee;
}

.remove {
  background-color: black;
  color: white;
  text-transform: lowercase;
  padding-left: 5px;
  padding-right: 5px;
  font-size:smaller;
  border-radius: 5px;
  float: left;
  margin-right: 10px;
}

.toolbar {
  float: right;
  position: relative;
  right: 13px;
  top: -55px;
}

#refreshDirectory {
   background-image: url(/images/refreshDirectory.png);
   background-position: center center;
   background-repeat: no-repeat;
   width: 32px;
   height: 32px;
   border-radius: 16px;
}

table {
	background-color: white;
	width: 100%;
	border: 1px solid #aaa;
 	border-radius: 10px;
    	padding-bottom: 5px;
    	padding-left: 5px;
    	padding-right: 5px;
}

th.value {
	width: 90px;
}

table.resources td {
	padding-left: 10px;
	padding-right: 10px;
	height: 45px;
}

.odd td.value {
	background-color: #eef;
}

.even td.value {
	background-color: #def;
}

tr.odd {
	background-color: #cef;
}

tr.even {
	background-color: #adf;
}

div.switch {
	background-image: url(/images/switchOff.png);
	background-repeat: no-repeat;
	background-position: top left;
	width: 35px;
	height: 20px;
}

div.switch.on {
	background-image: url(/images/switchOn.png);
}

	::selection{ background-color: #E13300; color: white; }
	::moz-selection{ background-color: #E13300; color: white; }
	::webkit-selection{ background-color: #E13300; color: white; }

	body {
		margin: 40px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}

	h1 {
		color: #444;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		font-size: 19px;
		font-weight: normal;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	code {
		font-family: Consolas, Monaco, Courier New, Courier, monospace;
		font-size: 12px;
		background-color: #f9f9f9;
		border: 1px solid #D0D0D0;
		color: #002166;
		display: block;
		margin: 14px 0 14px 0;
		padding: 12px 10px 12px 10px;
	}

	#body{
		margin: 0 15px 0 15px;
	}
	
	p.footer{
		text-align: right;
		font-size: 11px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	
	#container{
		background-color: #ddd;
		margin: 10px;
		border: 1px solid #D0D0D0;
		-webkit-box-shadow: 0 0 8px #D0D0D0;
		border-radius: 15px;

	}

